<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uqac.inf872.projet.imok">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/ImOK">
        <activity
            android:name=".controllers.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ImOK.NoTitle"> <!-- DISABLE TOOLBAR IN MAIN ACTIVITY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


                <!-- Accepts URIs that begin with "i-m-ok://android-app-i-m-ok" -->
                <data
                    android:host="i-m-ok"
                    android:scheme="android-app-i-m-ok" />
            </intent-filter>
        </activity>
        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".controllers.activities.ProfileActivity"
            android:label="@string/toolbar_title_login_activity"
            android:parentActivityName=".controllers.activities.MainActivity" />
        <!-- SETTINGS ACTIVITY -->
        <activity
            android:name=".controllers.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".controllers.activities.ProfileActivity" />
        <!-- MENU ACTIVITY -->
        <activity
            android:name=".controllers.activities.MenuViewPagerActivity"
            android:label="@string/toolbar_title_activity_menu"
            android:theme="@style/ImOK" />
        <!-- OKCARD ACTIVITY -->
        <activity
            android:name=".controllers.activities.OKCardActivity"
            android:label="@string/toolbar_title_activity_ok_card"
            android:parentActivityName=".controllers.activities.MenuViewPagerActivity" />
        <!-- RECIPIENTLIST ACTIVITY -->
        <activity
            android:name=".controllers.activities.RecipientListActivity"
            android:label="@string/toolbar_title_activity_recipient_list"
            android:parentActivityName=".controllers.activities.MenuViewPagerActivity" />
        <!-- POSITION ACTIVITY -->
        <activity
            android:name=".controllers.activities.PositionWIFIActivity"
            android:label="@string/toolbar_title_activity_position_wifi"
            android:parentActivityName=".controllers.activities.MenuViewPagerActivity" />
        <activity
            android:name=".controllers.activities.PositionGPSActivity"
            android:label="@string/toolbar_title_activity_position_gps"
            android:parentActivityName=".controllers.activities.MenuViewPagerActivity" />

        <!-- NOTIFICATION SERVICE -->
        <service
            android:name=".services.NotificationsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- NOTIFICATION WIFI CHANGGE -->
        <receiver
            android:name=".receiver.WifiReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!-- protected-broadcast: Special broadcast that only the system can send -->
                <!-- Corresponds to: android.net.wifi.WifiManager.NETWORK_STATE_CHANGED_ACTION -->
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- NOTIFICATION POSITION ALERT -->
        <receiver
            android:name=".receiver.ProximityAlertReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="uqac.inf872.projet.imok.receiver.ProximityAlert" />
            </intent-filter>
        </receiver>

        <!-- WIDGETS -->
        <receiver
            android:name=".widget.OKCardsWidget"
            android:icon="@drawable/ic_logo"
            android:label="@string/widget_ok_cards_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="uqac.inf872.projet.imok.widget_ok_cards.action.ACTION_CREATE_OKCARD" />
                <action android:name="uqac.inf872.projet.imok.widget_ok_cards.action.ACTION_OPEN_OKCARD" />
                <action android:name="uqac.inf872.projet.imok.widget_ok_cards.action.ACTION_SEND" />
                <action android:name="uqac.inf872.projet.imok.widget_ok_cards.action.ACTION_CONNECTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_ok_cards_provider_info" />
        </receiver>

        <receiver
            android:name=".widget.OKCardWidget"
            android:icon="@drawable/ic_logo"
            android:label="@string/widget_ok_card_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="uqac.inf872.projet.imok.widget_ok_card.action.ACTION_SEND" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_ok_card_provider_info" />
        </receiver>

        <activity
            android:name=".widget.OKCardWidgetConfigureActivity"
            android:label="@string/toolbar_title_activity_configure_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>