<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uqac.inf872.projet.imok">

    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/ImOK">
        <activity
            android:name=".controllers.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ImOK.NoTitle"> <!-- DISABLE TOOLBAR IN MAIN ACTIVITY-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!-- Accepts URIs that begin with "i-m-ok://android-app-i-m-ok" -->
                <data
                    android:host="i-m-ok"
                    android:scheme="android-app-i-m-ok" />

            </intent-filter>
        </activity>
        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".controllers.activities.ProfileActivity"
            android:label="@string/toolbar_title_login_activity"
            android:parentActivityName=".controllers.activities.MainActivity" />
        <!-- Menu ACTIVITY -->
        <activity
            android:name=".controllers.activities.MenuActivity"
            android:parentActivityName=".controllers.activities.MainActivity"
            android:theme="@style/ImOK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAIL ACTIVITY -->
        <activity
            android:name=".controllers.activities.DetailActivity"
            android:label="@string/activity_detail_title"
            android:parentActivityName=".controllers.activities.MenuActivity"
            android:theme="@style/ImOK" />

        <!-- NOTIFICATION SERVICE -->
        <service
            android:name=".services.NotificationsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>